body {

    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    text-align: center;
	height: 100%;
}
.headers {
    background-color:rgb(116, 31, 119);

}
h1, h4 {
	font-size: 50px;
    text-shadow:  15px 14px 30px #fff;
    color:#fff;
	-webkit-text-stroke:1px gray;
    margin: 50px auto;
    margin-bottom: 5px;
    
}
h4 {
	margin: 0;
	font-size: 22px;
}
a {
    text-decoration: none;
    color: black;
    display: block;
    margin-bottom: 10px;
}
img {
    border: 1px black solid;
    margin: 0 10px;
}
.sections {
    width: 100%;
    margin-top:30px;
    display: grid;
    grid-template-columns: 400px 400px 400px;
    justify-content: center;
}
section {
    margin: 20px;
    box-shadow: black 3px 1px 15px;
    border: 1px black solid;
    border-radius: 15px;
    box-sizing: border-box;
}
section:hover {
    border:1px gray solid ;
    box-shadow: 4px 4px 17px gray;
}



