body {
    margin: auto;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    background-color: rgb(85, 84, 84);
    text-align: center;
}
h1 {
    text-shadow: black 15px 14px 30px;
    margin: 50px auto;
    color: #fff;
    margin-bottom: 5px;
}
h4 {
    margin: 0;
    text-shadow: black 15px 14px 30px;
    color: #fff;
}
a {
    text-decoration: none;
    color: black;
    display: block;
    margin-bottom: 10px;
}
img {
    border: 1px black solid;
    margin: 0 10px;
    
}
.sections {
    width: 800px;
    box-sizing: border-box;    
    margin: 50px auto;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: repeat(4, 1fr);
    grid-gap: 60px;
}
.cakes-html, .cakes-react, .vsereshaem-html, .vsereshaem-react {
    text-align: center;
    box-sizing: border-box;
    box-shadow: black 5px 5px 15px;
    border: 1px black solid;
    background-color: #ccc776;
    border-radius: 15px;
}
.cakes-html:hover, .cakes-react:hover, .vsereshaem-html:hover, .vsereshaem-react:hover {
    border:1px lightblue solid ;
    box-shadow: 4px 4px 17px lightblue;
}
